<div class="container m-auto">
  <article class="flex justify-center flex-row-reverse">
    <div class="w-[50%] rounded-[20px] overflow-hidden relative h-[600px]">
      <img class="absolute top-0 left-0 width-[100%] height=[100%] object-cover" [src]="housing_location?.photo"
        alt="Exterior photo of {{housing_location?.name}}" />
    </div>
    <div class="w-[50%]">
      <section class="listing-description">
        <h2 class="text-4xl mb-3 font-bold">{{housing_location?.name}}</h2>
        <p class="font-bold mb-3">{{housing_location?.city}}, {{housing_location?.state}}</p>
      </section>
      <section class="mb-5">
        <h2 class="font-bold mb-4 text-violet-400 text-2xl">About this housing location</h2>
        <ul>
          <li class="list-disc">Units available: {{housing_location?.availableUnits}}</li>
          <li class="list-disc">Does this location have wifi: {{housing_location?.wifi}}</li>
          <li class="list-disc">Does this location have laundry: {{housing_location?.laundry}}</li>
        </ul>
      </section>
      <section class="listing-apply">
        <h2 class="font-bold text-xl2 mb-3">Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
          <label class="block uppercase text-violet-500 font-bold mb-2" for="first-name">First Name</label>
          <input class="border-b-2 mb-4" id="first-name" type="text" formControlName="firstName">

          <label class="block uppercase text-violet-500 font-bold mb-2" for="last-name">Last Name</label>
          <input class="border-b-2 mb-4" id="last-name" type="text" formControlName="lastName">

          <label class="block uppercase text-violet-500 font-bold mb-2" for="email">Email</label>
          <input class="border-b-2 mb-4 block" id="email" type="email" formControlName="email">
          <button type="submit" class="btn">Apply now</button>
        </form>
      </section>
    </div>
  </article>
</div>
