/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./app/components/heroes/heroes.component.scss";

.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: white;
  background: rgb(167, 139, 250);
  border-radius: 5px;
  transition: all .4s;
  &:hover {
    background: rgba(167, 139, 250, .8);
  }
}
